body {
    background: linear-gradient(-90deg, #9866f4, #e84eac);
    background-blend-mode: darken;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    margin: 0;
}

text {
    font-family: Roboto, monospace;
}

.particle-background{
    position: absolute;
    left: 0;
    top: 0;
}