.home-header {
    min-height: 92vh;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.bio-text{
    margin-top: 5%;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.quote-text{
    font-size: calc(8px + 2vmin);
}

.home-background {
    text-align: center;
}

.photo-of-me{
    width: calc(400px + 2vmin);
    height: calc(400px + 2vmin);
    box-shadow: 3px 3px 20px yellow;
    z-index: 999;
}

.quote-carousel{
    width: 500px;
    height: 500px;
}