.home-background {
    text-align: center;
}

.home-header {
    min-height: 92vh;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.noun-icon {
    alignment: center;
    color: white;
    width: 40%;
    filter: invert(100%);
}
