.navbar {
    font-size: 25px;
    width: 100% !important;
    font-family: "Roboto", cursive;
    position: fixed;
    z-index: 999;
    box-shadow: 3px 3px 15px mediumpurple;
}

.navbar-logo {
    margin-right: 10px;
}

.null-logo {
    filter: invert(100%);
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: cornflowerblue !important;
}