.project-image {
    width: 80%;
    padding-bottom: 100px;
}

.project-title {
    font-size: 100px;
    padding-bottom: 5px;
}

.project-description {
    padding-bottom: 20px;
}

.aws-btn {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 7px;
    --organic-arrow-border-radius: 5px;
    --organic-arrow-height: 42px;
    --organic-arrow-color: #ef0af5;
    --control-button-width: 6%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #2d5182;
    --control-bullet-active-color: #00ffff;
    --loader-bar-color: #05cffa;
    --loader-bar-height: 7px;
}